$hamburgerLine: rgb(0, 0, 0);
$bacgroundNavMobile: rgb(255, 255, 255);
$whiteMain: white;
$blackMain: black;
$greenMain: rgb(6, 253, 6);
$greykMain: rgb(117, 117, 117);
$activeBtn: rgb(43, 222, 113);
$footerColor: rgb(245, 245, 245);
$offerColor: rgba(255, 255, 255, 0.675);