//Import-----------------------------------
@use './colors';
// @use './animations';
//Reset------------------------------------
*,
*::before,
*::after {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

html {
	scroll-behavior: smooth;
	scroll-padding-top: 160px;
}

body {
	font-family: 'Roboto', sans-serif;
}

.header {
	&__content {
		display: flex;
		justify-content: space-between;
		align-items: center;
		&__title {
			margin-left: 2rem;
			padding: 1rem;
			font-size: 2rem;
			i {
				margin-right: 0.5rem;
			}
		}
		&__btn {
			width: 50px;
			height: 50px;
			margin-right: 1rem;
			border: none;
			background: none;
			cursor: pointer;
			z-index: 100;
			&:hover {
				.header__content__btn__box__line,
				.header__content__btn__box__line::after {
					width: 100%;
				}
			}
			&__box {
				position: relative;
				padding: 0.5rem;
				width: 100%;
				&__line {
					position: absolute;
					top: 50%;
					right: 0;
					transform: translate(0, -50%);
					width: 25px;
					height: 5px;
					background-color: colors.$hamburgerLine;
					border-radius: 4px;
					transition: width 0.3s;

					&::after,
					&::before {
						content: '';
						position: absolute;
						right: 0;
						height: 5px;
						background-color: colors.$hamburgerLine;
						border-radius: 4px;
						transition: width 0.3s;
					}
					&::after {
						top: 15px;
						width: 15px;
					}
					&::before {
						top: -15px;
						width: 50px;
					}
				}
			}
		}
	}
	&__navDesktop {
		display: none;
	}
	&__nav {
		position: absolute;
		top: 0;
		transform: translateX(-102%);
		width: 100%;
		height: 100vh;
		background-color: colors.$bacgroundNavMobile;
		transition: transform 0.3s;
		&__items {
			height: 100%;
			display: flex;
			flex-direction: column;
			justify-content: center;
			align-items: center;
			&__item {
				padding: 1.5rem;
				font-size: 1.875rem;
				text-decoration: none;
				text-align: center;
				text-transform: uppercase;
				color: colors.$blackMain;
				transition: color 0.3s, background-color 0.3s;
				&:hover {
					background-color: colors.$blackMain;
					color: colors.$whiteMain;
				}
			}
		}
	}
	&__img {
		width: 100%;
		height: 45vh;
		background-image: url(../img/mainImg.jpg);
		background-position: center;
		background-size: cover;
		z-index: 0;
		&__shadow {
			width: 100%;
			height: 100%;
			background: rgba(0, 0, 0, 0.6);
			z-index: -20;
			&__text {
				position: absolute;
				top: 25%;
				left: 15%;
				&__title {
					font-size: 1.4rem;
					font-weight: lighter;
					color: colors.$whiteMain;
					z-index: 100;
				}
				&__subtitle {
					font-size: 2rem;
					font-weight: bold;
					color: colors.$whiteMain;
				}
			}
		}
	}
}
.aboutUs {
	&__body {
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: center;
		padding: 0.5rem;

		&__content {
			&__title {
				margin-bottom: 1rem;
				font-size: 1.5rem;
				font-weight: bold;
				text-align: center;
			}
			&__text {
				margin-bottom: 1rem;
				font-size: 1rem;
				font-weight: lighter;
			}
		}
		&__photo {
			img {
				width: 100%;
			}
		}
	}
}
.banner {
	margin-top: 5rem;
	&__img {
		width: 100%;
		height: 20rem;
		background-image: url(../img/girl-g5de2c9073_1920.jpg);
		background-position: center;
		background-size: cover;
		&__shadow {
			display: flex;
			justify-content: center;
			align-items: center;
			width: 100%;
			height: 100%;
			background: rgba(0, 0, 0, 0.4);
			&__text {
				width: 50%;
				border: 2px solid colors.$whiteMain;
				p {
					padding: 2rem;
					font-size: 2.5rem;
					text-align: center;
					text-transform: uppercase;
					color: colors.$whiteMain;
				}
			}
		}
	}
}
@import './components';
@import './medium';
@import './large';
